/* Fonts */
/* Regular */
@font-face {
    font-family: "Ubuntu";
    src: url('./fonts/ubuntu/Ubuntu-Light.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: "Ubuntu";
    src: url('./fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
    
    font-weight: bold;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: "Ubuntu";
    src: url('./fonts/ubuntu/Ubuntu-Italic.ttf') format('truetype');
  
    font-weight: normal;
    font-style: italic;
}


/* Global */

html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

/* Body */

body {
    font-family: Ubuntu, Veranda, sans-serif;
    margin: 0px 0px;
}


/* Images */

img {
    width: 750px;
    height: auto;
}


/* Headings, paragraphs, lists, links */

h1, h3 {
    padding-top: 1.5rem;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid black;
}

h1, h3, p, ul, ol {
    margin-block-start: 0rem;
    margin-block-end: 0.75rem;
}

h3, p, ul, ol {
    text-align: left;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #615b5bf9;
    text-decoration: underline;
}

/* Containers */

.page-container {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}

.container {
    padding-left: 8vw;
    width: 930px;
    float: left;
}

.centered {
    align-items: center;
    text-align: center;
    padding-left: unset;
}


/* Footer */

footer {
    padding-left: 8vw;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

footer a {
    font-weight: 600;
}


/* Media queries */

@media screen and (max-width: 1120px) {
    .container {
        width: 83vw;
    }

    img {
        width: 67vw;
    }
}

@media screen and (max-width: 850px) {
    .container, footer {
        padding-left: 0px;
    }
}
